:root {
  --clr-dark: #070a12;
  --clr-light: #f9f9fb;
  --clr-rgba: #ffe3e6;
  --clr-accent: #f43f70;
}

* {
  font-family: 'Roboto', sans-serif;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

h1 {
  font-size: 3rem;
}
